.container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    
}

.items{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: aqua;
    border: 3px solid white;
    /* height: 100vh; */
  
}

#item1{
    height: 50vh;
    width: 50vh;
}

#item3{
    height: 50vh;
    width: 50vh;
  grid-row-start: 1; 
  grid-row-end: 2;
}




